<?xml version="1.0" encoding="UTF-8"?>
<package packagerversion="1.9.0" version="2.0" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0     http://pear.php.net/dtd/tasks-1.0.xsd     http://pear.php.net/dtd/package-2.0     http://pear.php.net/dtd/package-2.0.xsd">
 <name>mockpress</name>
 <uri>http://pear.coswellproductions.com/</uri>
 <summary>A series of mock functions to simulate WordPress for use with a unit testing framework.</summary>
 <description>Simulate enough of WordPress to test plugins and themes using PHPUnit, SimpleTest, or any other PHP unit testing framework.</description>
 <lead>
  <name>John Bintz</name>
  <user>johnbintz</user>
  <email>john@coswellproductions.com</email>
  <active>yes</active>
 </lead>
 <date>{date}</date>
 <time>{time}</time>
 <version>
  <release>0.1.{datetime}</release>
  <api>0.1.{datetime}</api>
 </version>
 <stability>
  <release>alpha</release>
  <api>alpha</api>
 </stability>
 <license uri="http://www.opensource.org/licenses/mit-license.php">MIT</license>
 <notes>
Built from http://github.com/johnbintz/mockpress
 </notes>
 <contents>
  <dir baseinstalldir="MockPress" name="/">
   <file name="mockpress.php" role="php" />
   <file name="README" role="data" />
   <dir name="includes">
     <file name="cache.php" role="php" />
     <file name="media.php" role="php" />
     <file name="filtering.php" role="php" />
     <file name="posts.php" role="php" />
     <file name="comments.php" role="php" />
   </dir>
  </dir>
 </contents>
 <dependencies>
  <required>
   <php>
    <min>5</min>
   </php>
   <pearinstaller>
    <min>1.4.0</min>
   </pearinstaller>
  </required>
 </dependencies>
 <phprelease />
 <changelog>
  <release>
   <version>
    <release>0.1.{datetime}</release>
    <api>0.1.{datetime}</api>
   </version>
   <stability>
    <release>alpha</release>
    <api>alpha</api>
   </stability>
   <date>{date}</date>
   <license uri="http://www.gnu.org/licenses/lgpl.html">LGPL</license>
   <notes>
Built from http://github.com/johnbintz/mockpress
   </notes>
  </release>
 </changelog>
</package>
